# Set to the path if you want install your games somewhere else
# Example: _games_path="/home/frog" will install your game in /home/frog/game_name
_games_path="$HOME/Games"

# Custom Wine dir - Leave empty to use system wine
# Example: _CUSTOM_WINE="/opt/wine-tkg-git/bin"
_CUSTOM_WINE="/opt/lunion-play-git/bin"
